/* Heading Font */
h1,
h2,
h3,
h4,
h5,
h6 .hfont {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* Body Font */
body .bfont {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
